.dashboard {
	position: absolute;
	top: 55px;
	bottom: 0;
	display: inline-block;
	width: 19vw;
	background-color: #448aff;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 0.671533px 8px;
	transform: translateX(-20vw);
	transition: transform 400ms ease-in-out;
}

.slideIn {
	transform: translateX(0);
}

.dashboardLeftPanel {
	width: 17vw;
	padding: 10px;	
	color: #ffffff;
	text-align: left;
}

.data {
	margin: 10px 0px;
	padding: 10px;
	background-color: rgb(97, 153, 246, 1);
}

.restartButton {
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	background-color: #448aff;
}

.restartButton:hover {
	background-color: rgb(97, 153, 246, 1);
}

.bestTimesDashboardHeader {
	margin-bottom: 15px;
}