.dashboard {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	height: 20vw;
	background-color: #448aff;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 0.671533px 8px;
}

.dashboardLeftPanel {
	width: 75vw;
	margin: 0 auto;
	padding: 10px;	
	color: #ffffff;
	text-align: left;
}

.data {
	margin: 10px 0px;
	padding: 10px;
	background-color: rgb(97, 153, 246, 1);
}

.restartButton {
	width: 10%;
	padding: 5px;
	text-align: center;
	line-height: 200%;
	margin: 40px auto 0px;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	background-color: #448aff;
}

.restartButton:hover {
	background-color: rgb(97, 153, 246, 1);
}