.tutorial {
	position: absolute;
	background-color: #ffffff;
	z-index: 1;
	width: 20vw;
	right: 0px;
	top: 80px;
	margin: 10px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px;
	transition: top 500ms ease-in-out;
}

.tutorialStarted {
	top: 350px;
	transition: top 500ms ease-in-out;
}

.tutorialTextContainer {
	margin-bottom: 10px;
}

.tutorialButtonContainer {
	text-align: right;
}

.tutorialInput {
	display: table;
	margin: 30px 0px 0px;
	font-size: 14px;
	cursor: pointer;
}

.fakeInputBorder {
	display: table-cell;
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

.fakeInputBorder:hover {
	background-color: rgb(238, 238, 238);
}

.fakeInput {
	height: 14px;
	width: 14px;
	margin: 0 auto;
	position: relative;
  top: 50%;
	transform: translateY(-50%);
	border: solid 2px rgb(117, 117, 117);
}

.checkmark {
	background-color: #448aff;
	width: 14px;
	height: 14px;
	fill: #ffffff;
}

.tutorialLabel {
	display: table-cell;
	vertical-align: middle;
}

.tutorialButton {
	display: inline-block;
	padding: 0px 10px;
	line-height: 200%;
	margin: 10px 0px 0px;
	cursor: pointer;
	color: #448aff;
	font-size: 14px;
	font-weight: 500;
}

.tutorialButton:hover {
	background-color: rgb(238, 238, 238);
}